footer ul li a {
  font-size: 0.7rem;
  display: inline-block;
  transition: 0.3s;
}
footer ul li a:hover {
  background: linear-gradient(90deg, var(--purpel), var(--pink)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  transform: scale(1.09);
}
footer p {
  font-size: 0.77rem;
}
body.light footer p {
  color: var(--title) !important;
}
@media (max-width: 826px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}
