.contact form{
  gap: 10px;
  margin: 20px 0;
  width: 400px;
  max-width: 400px;
  min-width: 230px;
}
.contact form input,
.contact form textarea {
  outline: none;
  border: 2px solid var(--border-color) !important;
  width: auto;
} 
.contact form input:focus,
.contact form textarea:focus {
  border-color: var(--purpel) !important;
  box-shadow: 0 0 0 2px rgba(63, 22, 196, 0.3);
} 

.contact form textarea {
  height: 130px;
  resize: none;
}
.contact form button{
  width: auto !important;
  background-color: #212529 !important;
  color: #fff;
}
.contact form button:hover{
  background-color: #212529af !important;
}
.contact form button:hover,
body.light .contact form button:hover{
  transition: all 0.2s ease-in-out;
  transform: scale(0.98);
}
.contact form button:active,
body.light .contact form button:active{
  transform: scale(0.90);
}
/* light */
body.light .contact p,
body.light .contact form label,
body.light .contact h1 svg{
  color: var(--white-color) !important;
}
body.light .contact form input,
body.light .contact form textarea {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: var(--white-color) !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), -1px -1px 2px rgba(0, 0, 0, 0.05) !important;
} 
body.light .contact form button{
  width: auto !important;
    background-color: transparent !important;
}
body.light .contact form button:hover{
  background-color: rgba(255, 255, 255, 0.03) !important;
}
/* media query */
@media (max-width: 1023px){
  .animation{
    display: none;
  }
}