.image {
  width: 88px;
  aspect-ratio: 1/1;
}

.verified-icon {
  fill: blue;
  top: 52px;
  right: -45px;
}
section .left-sec h1 {
  letter-spacing: 1px;
  font-size: 43px;
}
section .left-sec h1 span {
  background: linear-gradient(90deg, var(--purpel), var(--pink));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section .left-sec p {
  color: var(--title);
  font-size: 15px;
}
section .left-sec .social-links a {
  color: var(--subtitle) !important;
  margin-right: 27px;
  font-size: 21px;
  cursor: pointer;
  transition: color 0.2s;
  display: inline-block;
}
section .left-sec .social-links a:hover {
  color: var(--title) !important;
  transform: scale(1.1);
}
/* light mode */
body.light section .left-sec .social-links a {
  color: var(--title) !important;
}
body.light section .left-sec .social-links a:hover {
  color: #212529 !important;
}
section .left-sec .social-links a:active {
  transform: scale(0.8);
}
/* media query */
@media (min-width: 991px) and (max-width: 1200px) {
  .image {
    width: 80px;
  }
  .verified-icon {
    top: 45px;
  }
  section .left-sec h1 {
    letter-spacing: 0px;
    font-size: 35px;
  }
  section .left-sec p {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .image {
    width: 80px;
  }
  .verified-icon {
    top: 45px;
  }
  section .left-sec h1 {
    font-size: 38px;
    letter-spacing: 0px;
  }
  section .left-sec p {
    font-size: 13px;
  }
  .animation-sec {
    display: none;
  }
}

@media (max-width: 590px) {
  section .left-sec h1 {
    font-size: 30px;
  }
}
