.aboutMe li {
  color: var(--subtitle) !important;
  font-size: 15px;
}
.aboutMe .img {
  width: 35% !important;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .img {
    display: none;
  }
  .aboutMe p,
  .aboutMe span,
  .aboutMe li {
    font-size: 13px;
  }
}
