main button {
  user-select: none;
}

/* buttons */
main .slide-sec button {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid #1e293b;
  padding: 8px 20px !important;
  margin-right: 20px !important;
}
main .slide-sec button:hover {
  background-color: #1526394d !important;
}
main .slide-sec button:active {
  scale: 0.95;
}
body.light main .slide-sec button:hover {
  background: rgb(255, 255, 255, 0.2) !important;
}
main .slide-sec button.active,
body.light main .slide-sec button.active {
  border: 1px solid rgb(0, 0, 96) !important;
  background-color: rgba(0, 0, 96, 0.250) !important;
  pointer-events: none;
}
body.light main .slide-sec button.active {
  color: #565363 !important;
    border: 1px solid rgba(0, 0, 96, 0.57) !important;
  background-color: rgba(0, 0, 96, 0.108) !important;
}

/* card */
main .content-sec .card {
  width: 18rem;
  border: 1px solid var(--border-color);
  margin-left: 35px !important;
}
main .content-sec .card img {
  filter: brightness(0.9);
  border-radius: 5px 5px 0 0 !important;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
main .content-sec .card .card-body {
  padding-top: 10px;
}
main .content-sec .card .card-body h5 {
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .content-sec .card .card-body p {
  font-size: 14px;
  min-height: 126px;
  max-height: 130px;
  overflow: hidden;
}
/* dark-mode */
body.dark main .content-sec .card {
  color: var(--title);
  border-radius: 20px;
  border: 3px solid var(--border-color);
}
body.dark main .content-sec .card:hover {
  transform: scale(1.02) !important;
  transition: all 0.3s ease !important;
}
body.dark main .content-sec .card .card-body a {
  color: var(--subtitle) !important;
}
body.dark main .content-sec .card .card-body a:hover {
  color: rgb(0, 0, 96) !important;
}
/* light-mode */
body.light main .content-sec .card:hover {
  transform: scale(1.02) !important;
  transition: all 0.3s ease !important;
}
body.light main .content-sec .card .card-body h5 {
  color: #212529 !important;
}
body.light main .content-sec .card .card-body p,
body.light main .content-sec .card .card-body a {
  color: var(--white-color) !important;
}
body.light main .content-sec .card .card-body a:hover {
  color: var(--purpel) !important;
}
/* media query */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  main .slide-sec {
    width: 90%;
    border: none !important;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 !important;
  }
main .slide-sec button {
  width: fit-content !important;
}
  main .content-sec {
    margin-left: 0 !important;
  }
  main .content-sec .card {
    margin-left: 0 !important;
  }
}
