main button {
  user-select: none;
}
main .slide-sec {
  border-color: var(--border-color) !important;
  /* width: fit-content; */
}

/* buttons */
main .slide-sec button {
  color: #ffffff !important;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
main .slide-sec button:hover {
  background-color: #21252984 !important;
}
main .slide-sec button:active {
  scale: 0.95;
}
body.light main .slide-sec button {
  color: var(--white-color) !important;
}
body.light main .slide-sec button:hover {
  background: rgb(255, 255, 255, 0.2) !important;
}
main .slide-sec button.active,
body.light main .slide-sec button.active {
  border: 2px solid;
  background-color: transparent !important;
  pointer-events: none;
}
body.light main .slide-sec button.active {
  color: #565363 !important;
}

/* card */
main .content-sec .card {
  width: 15rem;
  border: 1px solid var(--border-color);
}
main .content-sec .card img {
  filter: brightness(0.9);
  border-radius: 5px 5px 0 0 !important;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
main .content-sec .card .card-body {
  padding-top: 10px;
}
main .content-sec .card .card-body h5 {
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .content-sec .card .card-body p {
  font-size: 14px;
  min-height: 126px;
  max-height: 130px;
  overflow: hidden;
}
/* dark-mode */
body.dark main .content-sec .card {
  color: var(--title);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 3px solid var(--border-color);
}
body.dark main .content-sec .card:hover {
  transform: scale(1.02) !important;
  transition: all 0.3s ease !important;
}
body.dark main .content-sec .card .card-body a {
  color: var(--subtitle) !important;
}
body.dark main .content-sec .card .card-body a:hover {
  color: var(--purpel) !important;
}
/* light-mode */
body.light main .content-sec .card:hover {
  transform: scale(1.02) !important;
  transition: all 0.3s ease !important;
}
body.light main .content-sec .card .card-body h5 {
  color: #212529 !important;
}
body.light main .content-sec .card .card-body p,
body.light main .content-sec .card .card-body a {
  color: var(--white-color) !important;
}
body.light main .content-sec .card .card-body a:hover {
  color: var(--purpel) !important;
}
/* media query */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  main .slide-sec {
    width: 90%;
    border: none !important;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 !important;
  }
  main .slide-sec button {
    /* width: 70% !important; */
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  main .content-sec {
    margin-left: 0 !important;
  }
  main .content-sec .card {
    margin-right: 0 !important;
  }
}
