@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap");

:root {
  --bg-color: #000;
  --container-bg-color: #18181b;
  --border-color: #3f3f4666;
  --white-color: #fff;
  --title: #f4f4f5;
  --subtitle: #a1a1aa;
  --bg-header: #252529;
  --purpel: #3f16c4;
  --pink: #c25dba;
}
body.light {
  --bg-color: #fff;
  --container-bg-color: #f4f4f482;
  --border-color: #e1e1e193;
  --subtitle: #f4f4f5;
  --title: #a1a1aa;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body.dark {
  background-color: var(--bg-color) !important;
  /* background-color: #0e122e !important; */
  color: var(--white-color) !important;
}
body.light {
  background: linear-gradient(
    135deg,
    #3f16c476,
    #9a9a9a,
    #c25dba81,
    #9a9a9a,
    #3f16c476,
    #9a9a9a,
    #c25dba81,
    #9a9a9a,
    #3f16c476
    );
}
.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  z-index: -1;
}

/* **************************************** */

.glass-card {
  width: fit-content;
  height: auto;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}
body.light .glass-card {
  width: fit-content;
  height: auto;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(103, 103, 103, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.19),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: var(--white-color) !important;
  position: relative;
  overflow: hidden;
}

/* **************************************** */

.main {
  width: 80%;
  border-radius: 7px;
  padding: 0 4rem !important;
}
body.dark .main {
  /* background: linear-gradient(160deg, #18181bb8, #0c00b463); */
  background-color: var(--container-bg-color);
  border: 2px solid var(--border-color);
}
body.light .main {
  border: 2px solid var(--border-color);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.19),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.tline {
  border-bottom: 1px solid var(--border-color);
  margin: 65px 0;
}

.cvBtn {
  height: fit-content;
  transition: all 0.2s ease !important;
  font-size: 0.9rem !important;
}
.cvBtn:hover {
  transform: scale(1.04);
  background: rgba(255, 255, 255, 0.2) !important;
}
li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--title) !important;
}

a:hover {
  color: var(--blue) !important;
  transition: 0.5s !important;
}

/* scroll bar & scrollToUp */
::-webkit-scrollbar {
  width: 0.88rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #3f3f4666;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #212529;
}
body.light::-webkit-scrollbar-track {
  background-color: var(--subtitle);
}

::-webkit-scrollbar-thumb {
  background: var(--subtitle);
  border-radius: 2px;
}
.light::-webkit-scrollbar-thumb {
  background: var(--container-bg-color);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--title);
}
.scrollToUp {
  font-size: 20px;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  width: 1.5rem !important;
  height: 2.8rem !important;
  text-align: center;
  line-height: 2.2rem !important;
  transition: 0.3s;
  z-index: 1000;
}
.scrollToUp:hover {
  opacity: 0.8;
  color: var(--subtitle);
  box-shadow: 0px 0px 15px #212529;
  transform: scale(0.9);
  background-color: #212529;
}
.scrollToUp:active {
  transform: scale(0.7);
}
/* ******** */
/* mobile */
@media (max-width: 500px) {
  .main {
    width: 95%;
    padding: 0 2rem !important;
  }
  .scrollToUp {
    width: 2rem;
    height: 2rem;
    line-height: 1.7rem;
    right: 1.4rem;
    bottom: 1.4rem;
  }
}
