/* ===========================
  table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
  1. Header Design
=========================== */
header nav {
  background-color: var(--bg-header) !important;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  padding: 3px 5px;
}


body.light header nav {
  background-color: var(--white-color) !important;
  border: 2px solid #ebe6e693; /* light mode ***************/
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
body.light header a {
  color: #807c7c8d !important;
}


header a {
  font-size: 14px;
  font-weight: 700;
  color: #e3e3e6 !important;
}
header nav a:hover {
  background: linear-gradient(90deg, var(--purpel), var(--pink)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* ========================
  2. Button & icon
=========================== */
header button {
  height: fit-content;
  background-color: transparent;
  border: 2px solid var(--border-color);
  color: red;
  transition: 0.3s;
}

header .menu svg,
header button svg {
  fill: var(--subtitle) !important;
}

header .menu {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: 2px solid var(--border-color);
  transition: 0.3s;
}
header .menu:hover svg,
header button:hover svg {
  fill: var(--title) !important;
}
header .menu:hover,
header button:hover {
  background-color: var(--border-color) !important;
  font-weight: 600 !important;
  border: 2px solid var(--subtitle) !important;
}
header .menu:active,
header button:active {
  scale: 0.9;
}
body.light header button, 
body.light header .menu {
  border: 2px solid var(--subtitle); /* light mode ***************/
  box-shadow: 1px 1px 5px var(--title);
}
body.light header .menu svg {
  fill: var(--title) !important;
}

body.light header button svg {
  fill: gold !important;
}
body.light header button:hover {
  border-color: gold !important;
}
body.light header button:hover svg {
  fill: gold !important;
}
body.light header .menu:hover {
  border-color: var(--title) !important;
}
body.light header .menu:hover,
body.light header button:hover {
  background-color: var(--container-bg-color) !important;
  box-shadow: 0px 0px 0px var(--title) !important
}

@keyframes scaleMenu {
  0% {scale: 0;}
  60% {scale: 1.2;}
  100% {scale: 1;}
}

/* ========================
  3. pop up
=========================== */
header .pop-up{
  background-color: #282830e8;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

header .pop-up ul{
  animation: scaleMenu 0.9s 1;
}

header .pop-up li:not(:first-child, :last-child) {
  border-bottom: 3px solid var(--border-color);
}

header .pop-up .close {
  cursor: pointer;
  width: fit-content;
}

.close-icon {
  transition: transform 0.3s ease;
}

.close-icon:hover {
  transform: rotate(180deg) scale(1.2);
  box-shadow: 1px 1px 13px rgb(220, 53, 69);
}
/* light mode */
body.light header .pop-up {
  background-color: var(--container-bg-color) !important;
}
body.light header .pop-up ul {
  background-color: var(--bg-color) !important;
  border: 2px solid var(--border-color);
  box-shadow: 0px 0px 10px var(--title);
}
body.light header .pop-up ul li a:hover {
  color: var(--title) !important;
}
/* //////////////// */


/* ========================
  4- Responsive Design (media query)
=========================== */
@media (max-width: 768px) {
  header nav {
    display: none;
  }
  header .menu {
    opacity: 1;
    visibility: visible;
  }
}

/* mobile */
@media (max-width: 578px){
  header .pop-up ul{
    width: 85%;
    text-align: center;
  }
}
