/* ===========================
  table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
  1. Header Design
=========================== */
header nav {
  border: 2px solid var(--border-color);
  border-radius: 30px;
  padding: 3px 5px;
}

body.light header a {
  color: #fff !important;
}

header a {
  font-size: 14px;
  font-weight: 700;
  color: #e3e3e6 !important;
}
header nav a:hover {
  background: linear-gradient(90deg, var(--purpel), var(--pink)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
header nav a.active {
  background: linear-gradient(90deg, var(--purpel), var(--pink)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* ========================
  2. Button & icon
=========================== */
header button {
  height: fit-content;
  background-color: transparent;
  transition: 0.3s;
}
header .menu {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

header .menu svg,
header button svg {
  fill: var(--subtitle) !important;
}
header .menu:hover svg,
header button:hover svg {
  fill: var(--title) !important;
}
body.dark header .menu:hover,
body.dark header button:hover {
  background-color: var(--border-color) !important;
}
header .menu:active,
header button:active {
  scale: 0.9;
}
/* light mode */
body.light header .menu svg {
  fill: var(--white-color) !important;
}

body.light header button svg {
  fill: gold !important;
}
body.light header button:hover {
  border-color: gold !important;
}

body.light header .menu:hover {
  border-color: var(--title) !important;
}

@keyframes scaleMenu {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

/* ========================
  3. pop up
=========================== */
header .pop-up {
  z-index: 9999;
  backdrop-filter: blur(10px);
}

header .pop-up ul {
  animation: scaleMenu 0.9s 1;
  width: 90% !important;
}
header .pop-up ul li a:hover,
header .pop-up ul li a.active {
  color: #222224 !important;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 10px;
}

header .pop-up li:not(:first-child, :last-child) {
  border-bottom: 3px solid var(--border-color);
}

header .pop-up .close {
  cursor: pointer;
  width: fit-content;
}

.close-icon:hover {
  transform: rotate(180deg) scale(1.2);
  box-shadow: 1px 1px 13px rgb(220, 53, 69);
  transition: transform 0.3s ease;
}
/* light mode */
body.light header .pop-up {
  backdrop-filter: blur(8px) !important;
}
body.light header .pop-up ul {
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
}
body.light header .pop-up ul li a {
  color: #222224a0 !important;
}
body.light header .pop-up ul li a:hover,
body.light header .pop-up ul li a.active {
  color: #222224 !important;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 10px;
}
/* //////////////// */

/* ========================
  4- Responsive Design (media query)
=========================== */
@media (max-width: 768px) {
  header nav {
    display: none;
  }
  header .menu {
    opacity: 1;
    visibility: visible;
  }
}

/* mobile */
@media (max-width: 578px) {
  header .pop-up ul {
    width: 85%;
    text-align: center;
  }
}
