.customHover:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.custom-tooltip {
  --bs-tooltip-bg: #222224;
  --bs-tooltip-color: var(--title);
}
body.light .custom-tooltip {
  --bs-tooltip-bg: var(--border-color) !important;
  --bs-tooltip-color: #222224 !important;
}
button {
  all: unset;
}
