.ilangues {
  background-color: #212529;
  border-radius: 7px;
}
.ilangues:hover {
  transform: scale(0.9);
  transition: 0.4s;
  cursor: pointer;
  box-shadow: 0px 0px 15px var(--title);
}
body.light .ilangues {
  background-color: var(--white-color) !important;
  color: var(--title) !important;
  border: 1px solid var(--subtitle) !important;
}

.custom-tooltip {
  --bs-tooltip-bg: #222224;
  --bs-tooltip-color: var(--title);
}
body.light .custom-tooltip {
  --bs-tooltip-bg: var(--border-color) !important;
  --bs-tooltip-color: #222224 !important;
}
button {
  all: unset;
}
